// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table {
  border: none;
  border-radius: 5px;
  border-spacing: 10px;
}

td {
  border: 5px solid rgba(80, 80, 80, 1.0);
  margin: none;
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.avatar {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 2px solid grey;
}